body {
    margin: 0;
    font-family: Poppins;
}

/* inicio Navbar */
.navbar-container {
    border-bottom: 0.3rem solid red;
    height: 80px;
    background-color: #000000;
    padding: 0 2rem;
    margin: 0 auto;
}



nav {
    position: relative;
}

.logo {
    width: 150px;
    margin-top: 10px;
}

.navbar-items {
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}

.navbar-items li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

.navbar-items a {
    color: #fff;
    text-decoration: none;
    transition: 0.5;
}

.navbar-items a:hover {
    color: #ccc;
}

.default-btn {
    padding: 15px 20px;
    background-color: #2cc76a;
    border-radius: 5px;
}

.navbar-items .default-btn:hover {
    background-color: #22bb5f;
    color: #fff;
}


/* Fim Navbar */

/* inicio banner */
.main-banner {
    position: relative;
    height: 1rem;
    background-image: url("image/banner.jpg");
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
    margin: 0 auto;
}

/* fim do banner */

.circle {
    background-color: #aaa;
    border-radius: 50%;
    width: 330px;
    height: 330px;
    overflow: hidden;
    position: relative;
    top: -158px;
    left: 12px;
}

.circle img {
    position: rela;
    bottom: 100;
    width: 100%;
}

#zap {
    color: #25D366;
    font-size: 50px;
    border: none;
    transition: .3s;
}

#zap:hover{
    font-size: 70px; 
}



.container {
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}

.cabecalho {
    width: 900px;
    margin: 0 auto;
}

svg {
    width: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

#carrinho{
color: #fff;
font-size: 1.5rem;
}

.icon-cart {
    position: relative;
}

.icon-cart span {
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}

.title {
    font-size: xx-large;
}

.listProduct .item img {
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}

.listProduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.listProduct .item {
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}

.listProduct .item h2 {
    font-weight: 500;
    font-size: large;
}

.listProduct .item .price {
    letter-spacing: 7px;
    font-size: small;
}

.listProduct .item button {
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}

/* cart */
.cartTab {
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}

body.showCart .cartTab {
    right: 0;
}

body.showCart .container {
    transform: translateX(-250px);
}

.cartTab h1 {
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab button {
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}

.cartTab .close {
    background-color: #eee;
}

.listCart .item img {
    width: 100%;
}

.listCart .item {
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listCart .quantity span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}

.listCart .quantity span:nth-child(2) {
    background-color: transparent;
    color: #eee;
    cursor: auto;
}

.listCart .item:nth-child(even) {
    background-color: #eee1;
}

.listCart {
    overflow: auto;
}

.listCart::-webkit-scrollbar {
    width: 0;
}



@media only screen and (max-width: 992px) {
    .listProduct {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct {
        grid-template-columns: repeat(2, 1fr);
    }
}